
<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row text-center text-md-start align-items-center d-flex flex-column align-items-center justify-content-center">
      
      <!-- Social Media Links -->
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="f-info-socials">
          <a href="https://www.facebook.com/profile.php?id=100090005486454" class="text-white me-3">
            <i class="fa-brands fa-square-facebook fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/anjeetsingh_112/" class="text-white me-3">
            <i class="fa-brands fa-square-instagram fa-2x"></i>
          </a>
          <a href="https://www.linkedin.com/in/anjeetsingh112/" class="text-white">
            <i class="fa-brands fa-linkedin fa-2x"></i>
          </a>
        </div>
      </div>
      
      <!-- Brand -->
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
      </div>
      
      <!-- Links -->
      <div class="col-md-4">
        <div class="f-info-links">
          <a href="/privacy" class="text-white me-3">Privacy</a>
          <a href="/terms" class="text-white">Terms</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
